


.body1{
    background: url(images/room1_backgropund.jpg);
    background-size: 100%;
    height: fit-content;
    width: fit-content;
    background-repeat: no-repeat;
    background-position:center;
    padding-top: 1%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 0%;
    opacity: 0.8;

    
}

.welcome{
  
    font-size: 90px;
    color:white;
    text-shadow: 4px 4px  rgb(0, 0, 0);
    font-family: "Brush Script MT", Times, serif;
    
}

.rectangle {
    display: flex;
    width: 90%;
    height: 100%;
    /*background-position: center;*/
    align-content: center;
    /*border: 1px solid black;*/
    /*padding-left: 0.5%;*/
    /*padding-right: 0.5%;*/
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    /*align-items: center;*/
    border-radius: 10px;
    background:#000000;
    opacity: 0.8;
    justify-content: center;
  
  }

  .text{
    color:rgb(255, 255, 255);
  }

  .body2{
    background: url(images/room2_background.jpg);
    background-size: 100%;
    height: fit-content;
    
    background-repeat: no-repeat;
    background-position:center;
    /*padding-top: 3%;*/
    /*padding-bottom: 1.5%;*/
    /*padding-left: 0%;*/
    /*padding-right: 0%;*/
    /* opacity:0.5; */
  }

  .container1{

    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: center; /* Vertically center the container */
    height: 100vh;

  }
  .rec2{
      /*width: 50%;*/
      /*height: 100%;*/
      /*!*background-position: center;*!*/
      /*!*align-content: center;*!*/
      /*!*border: 1px solid black;*!*/
      padding-left: 1%;
      /*padding-right: 1%;*/
      padding-top: 3%;
      /*padding-bottom: 0.7%;*/
      /*!*align-items: center;*!*/
      /*border-radius: 10px;*/
      /*background:#1e323f;*/
      /*opacity: 0.8;*/
      /*justify-content: center;*/
      width: 30%;
      height: 50%;
      background-color: #1e323f;
      /*margin: 0 auto;*/
      opacity: 0.8;
      border-radius: 10px;
  }

  .mb-3{
      color: white;
      width: 80%;
      align-content: center;
      padding-left: 13%;
      /*justify-content: center;*/
  }

  .dropDown{
      width: 100px;
      height: 80%;
      color: white;
      justify-content: center;
      align-content: center;
  }

  